.slides .slick-prev,
.slides .slick-next {
    position: absolute;
    top: 50%;
    z-index: 1;
}

.slides{
    position: relative;
}

.slides .slick-prev{
    left: 5%;
}

.slides .slick-next{
    right: 5%;
}

.slick-track{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    align-items:  stretch !important;
}

.slick-slide{
    height: inherit !important;
}

.slick-slide img{
    width: 100%;
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}