.swal2-title{
    font-size: 3rem;
}

.swal2-content{
    font-size: 1.8rem;
}

.swal2-popup{
    width: 51rem;
}

.swal2-icon{
    font-size: 1.6rem;
    margin: 2rem auto 3rem;
    border: .4rem solid transparent;
}

.swal2-styled.swal2-confirm{
    font-size: 1.7rem;
}

.swal2-popup.swal2-toast .swal2-title {
    font-size: 1.5rem;
}